body {
  font-family: "segoe ui light";
}
.item {
  position: relative;
  cursor: pointer;
  margin-top: 20px;
}

.item-caption {
  text-align: center;
  position: absolute;
  background-color: #fff;
  width: 80%;
  left: 10%;
  bottom: 20px;
}

.lightbox-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.lightbox-item {
  width: 50%;
  height: 500px;
  background-image: url(../img2.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}
.lightbox-item i {
  font-family: 1.2rem;
  margin: 0.5rem;
  cursor: pointer;
}
#close {
  position: absolute;
  top: 10px;
  right: 10px;
}
